
<!---------------------------ENLACES--------------------------------->
<title>Blogs</title>
<link rel="stylesheet" href="/CSS/blogs.css" />   <!-- Enlace CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
crossorigin="anonymous" referrerpolicy="no-referrer"/> 
<%- include('partials/htmlhead'); -%> <!-- Enlace plantilla del head -->


<!---------------------------FIN ENLACES--------------------------------->
<body>
    <!--aqui enpieza los blogs-->
    <div class="contenedor">
<section class="seccionIzq">

  <div class="search-container">
    <input type="text" placeholder="Buscar...">
    <button><i class="fas fa-search"></i></button>
</div>



<section class="categorias">
  <h3>Categorías</h3>
  <div class="categoria" data-aos="fade-up">
      <div class="icono"><i class="fas fa-calendar-alt"></i></div>
      <h3>Planificación de Eventos</h3>
      <p>Consejos y estrategias para una planificación eficaz de eventos.</p>
  </div>

  <div class="categoria" data-aos="fade-up" data-aos-delay="100">
      <div class="icono"><i class="fas fa-camera"></i></div>
      <h3>Fotografía de Eventos</h3>
      <p>Técnicas y recomendaciones para capturar los mejores momentos de eventos.</p>
  </div>

  <div class="categoria" data-aos="fade-up" data-aos-delay="200">
      <div class="icono"><i class="fas fa-balance-scale"></i></div>
      <h3>Equilibrio de Presupuestos</h3>
      <p>Manejo y optimización de presupuestos para eventos.</p>
  </div>

  <div class="categoria" data-aos="fade-up" data-aos-delay="300">
      <div class="icono"><i class="fas fa-users"></i></div>
      <h3>Gestión de Invitados</h3>
      <p>Consejos para manejar listas de invitados y confirmaciones.</p>
  </div>
</section>


<section class="top-posts">
  <h2>Top de Posts Más Buscados</h2>
  <ul id="post-list">
      <!-- Aquí se insertarán dinámicamente los posts más buscados -->
  </ul>
</section>

</section>




  <section class="seccionDere">
    <section class="blog-list">
            <div class="container mt-5">
              <h3 class="text-center mb-5" style="color: #27094d;">Blogs Relacionados con Organización de Eventos</h3>
              <div class="row">
                  <!-- Blog 1 -->
                  <div class="col-md-6 mb-4">
                      <div class="card">
                          <img src="/IMG/pexels-amar1.jpg" class="card-img-top" alt="Evento 1">
                          <div class="card-body">
                              <h5 class="card-title">Nuestro equipo de fotografía</h5>
                              <p class="card-text">En Esencia, nuestro equipo de fotografía está dedicado a capturar la esencia única de cada evento que diseñamos.</p>
                              <p class="card-text"><small class="text-muted">Publicado el 10 de junio de 2024</small></p>
                              <a href="#" class="btn btn-primary mb-3">Leer más</a>
                          </div>
                      </div>
                  </div>
          
                  <!-- Blog 2 -->
                  <div class="col-md-6 mb-4">
                      <div class="card">
                          <img src="/IMG/pexels-cottonbro2.jpg" class="card-img-top" alt="Evento 2">
                          <div class="card-body">
                              <h5 class="card-title">Reuniones con el equipo</h5>
                              <p class="card-text">En Esencia, nuestras reuniones de equipo son el corazón de nuestra colaboración creativa y planificación meticulosa.</p>
                              <p class="card-text"><small class="text-muted">Publicado el 8 de junio de 2024</small></p>
                              <a href="#" class="btn btn-primary mb-3">Leer más</a>
                          </div>
                      </div>
                  </div>
          
                  <!-- Blog 3 -->
                  <div class="col-md-6 mb-4">
                      <div class="card">
                          <img src="/IMG/pexels-3.jpg" class="card-img-top" alt="Evento 3">
                          <div class="card-body">
                              <h5 class="card-title">Arreglo de mesas</h5>
                              <p class="card-text">En Esencia, consideramos que el arreglo de mesas es más que una disposición física; es una expresión artística que transforma espacios y crea ambientes memorables para nuestros clientes.</p>
                              <p class="card-text"><small class="text-muted">Publicado el 6 de junio de 2024</small></p>
                              <a href="#" class="btn btn-primary mb-3">Leer más</a>
                          </div>
                      </div>
                  </div>
          
                  <!-- Blog 4 -->
                  <div class="col-md-6 mb-4">
                      <div class="card">
                          <img src="/IMG/pexels-amina-4.jpg" class="card-img-top" alt="Evento 4">
                          <div class="card-body">
                              <h5 class="card-title">Nuestra florista</h5>
                              <p class="card-text">Nuestra florista en Esencia es el corazón floral de cada evento que diseñamos. Con una pasión innata por las flores y un ojo meticuloso para el diseño.</p>
                              <p class="card-text"><small class="text-muted">Publicado el 4 de junio de 2024</small></p>
                              <a href="#" class="btn btn-primary mb-3">Leer más</a>
                          </div>
                      </div>
                  </div>
          
                  <!-- Blog 5 -->
                  <div class="col-md-6 mb-4">
                      <div class="card">
                          <img src="/IMG/pexels-bohlemedia-5.jpg" class="card-img-top" alt="Evento 5">
                          <div class="card-body">
                              <h5 class="card-title">Sobre nuestras bajillas</h5>
                              <p class="card-text">En Esencia, entendemos que la elección de vajilla, platos de vidrio y copas juega un papel crucial en la presentación y experiencia gastronómica de cualquier evento.</p>
                              <p class="card-text"><small class="text-muted">Publicado el 2 de junio de 2024</small></p>
                              <a href="#" class="btn btn-primary mb-3">Leer más</a>
                          </div>
                      </div>
                  </div>
          
                  <!-- Blog 6 -->
                  <div class="col-md-6 mb-4">
                      <div class="card">
                          <img src="/IMG/pexels-kokorevas-ingla6.jpg" class="card-img-top" alt="Evento 6">
                          <div class="card-body">
                              <h5 class="card-title">El viaje a Inglaterra para un arreglo</h5>
                              <p class="card-text">El viaje a Inglaterra para el arreglo fue más que una simple expedición; fue una odisea de descubrimiento y creatividad.</p>
                              <p class="card-text"><small class="text-muted">Publicado el 1 de junio de 2024</small></p>
                              <a href="#" class="btn btn-primary mb-3">Leer más</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          </section>
    </section>

    </div>


     
       

  
          
          <!-- Font Awesome icons (for the social media icons) -->
     <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="Bootstrap/js/bootstrap.min.js"></script>
    <script src="/JS/scrip.js"></script>
  </body>

  <%- include('partials/htmlfooter'); -%> <!-- Enlace plantilla del Footer -->