
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contáctanos</title>
  <link rel="stylesheet" href="/CSS/contactanos.css"> <!-- Enlace CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <%- include('partials/htmlhead'); -%> <!-- Enlace plantilla del head -->
</head>

<body>
  <!----------------------BANNER--------------------------->
  <div class="banner"></div>
  <!----------------------FIN BANNER--------------------------->

  <!----------------------FORMULARIO--------------------------->
  <section class="section-envoltura">
    <div class="box-envolutura">
      <div class="caja caja-primera">
        <div class="contenido">
          <!-- Contenido de la primera caja -->
        </div>
      </div>
      <div class="form-envoltura">
        <form action="#" method="POST">
          <h2 class="form-titulo">Estamos listos para atenderte!</h2>
          <div class="form-campos">
            <div class="form-group">
              <input type="text" class="fname" placeholder="Nombre" />
            </div>
            <div class="form-group">
              <input type="text" class="lname" placeholder="Apellido" name="name" />
            </div>
            <div class="form-group">
              <input type="email" class="email" placeholder="Mail" name="email" />
            </div>
            <div class="form-group">
              <input type="number" class="phone" placeholder="Telefono" name="phone" />
            </div>
            <div class="form-group">
              <textarea name="message" placeholder="Escribe tu mensaje"></textarea>
            </div>
          </div>
          <input type="submit" value="ENVIAR MENSAJE" class="botton-enviar" />
        </form>
      </div>
    </div>
  </section>
  <!----------------------FIN FORMULARIO--------------------------->

  <!----------------------CONTENEDORES--------------------------->
  <div class="contenedor">
    <div class="caja caja-izquierda">
      <div class="contenido">
        <i class="fas fa-map-marker-alt icono-giro"></i><br>
        <span class="texto">Somoto, Madriz</span><br>
        <span class="texto">Frente al parque central de Somoto</span>
      </div>
    </div>

    <div class="caja caja-centro">
      <div class="contenido">
        <i class="fas fa-phone icono-vibrar"></i><br>
        <span class="texto">+505 86253765</span><br>
        <i class="fas fa-envelope"></i><br>
        <span class="texto">contactanos_info@esencia.nic.com</span>
      </div>
    </div>

    <div class="caja caja-derecha">
      <div class="contenido">
        <h2>NO TE PIERDAS DE LAS NOVEDADES!</h2><br>
        <div class="social-icons">
          <a href="https://www.facebook.com" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://www.instagram.com" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.pinterest.com" target="_blank">
            <i class="fab fa-pinterest-p"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!----------------------FIN CONTENEDORES--------------------------->

  <!----------------------MAPA--------------------------->
  <div class="row">
    <div class="column full">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62077.51277801984!2d-86.62466846804658!3d13.483674809072882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f71dfd704103d8f%3A0x7e9db1c54b47f04d!2sUniversidad%20Nacional%20Aut%C3%B3noma%20de%20Nicaragua!5e0!3m2!1ses!2shn!4v1719556020592!5m2!1ses!2shn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  <!----------------------FIN MAPA--------------------------->

  <%- include('partials/htmlfooter'); -%> <!-- Enlace plantilla del Footer -->
</body>

</html>
