<!---------------------------ENLACES--------------------------------->
<title>Inicio</title>
<link rel="stylesheet" href="../CSS/INICIO.css" />   <!-- Enlace CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.css" /> <!----Libreria de animaciones --->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
  crossorigin="anonymous" 
  referrerpolicy="no-referrer"/> <!----CSS Carrusel --->


<%- include('partials/htmlhead'); -%> 


<!---------------------------FIN ENLACES--------------------------------->


<!---------------------------INICIO DE PAGINA--------------------------------->
<body>
<div class="inicio" data-aos="fade-up" data-aos-duration="1000">
  <div class="txtinicio">
    <h1 class="inicioh1" data-aos="fade-right">EL MEJOR LUGAR</h1>
    <h5 class="inicioh5" data-aos="fade-left"> PARA CREAR RECUERDOS INOLVIDABLES </h5>
    <p data-aos="fade-up">En Esencia, creemos que cada evento es una oportunidad única para crear recuerdos inolvidables.</p>
    <button class="btn1" data-aos="zoom-in">
      <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1" class="sparkle">
        <path d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"></path>
      </svg>
      <span class="text">CREAR</span>
    </button>
  </div>
</div>
</div>
</div>
  <!---------------------------FIN INICIO DE PÁGINA--------------------------->

  
  <!------------------------------CARACTERÍSTICAS---------------------------->
<div class="grad" data-aos="fade-up" data-aos-duration="2000">
  <div class="inf">
    <h3>CARACTERÍSTICAS</h3>
  </div>
  <div class="proceso">
    <div class="pros" data-aos="fade-right">
      <div class="card">
        <div><img class="card-image" src="../IMG/objetivo.png"></div>
        <div class="heading">PERSONALIZACIÓN</div>
        <div class="category">Eventos unicos, adaptados a tus gustos y preferencias.</div>
      </div>
    </div>
    <div class="pros2"></div>
    <div class="pros" data-aos="fade-right">
      <div class="card">
        <div><img class="card-image" src="../IMG/profesionalismo.png"></div>
        <div class="heading">PROFESIONALISMO</div>
        <div class="category">Servicio de alta calidad y excelencia en cada detalle.</div>
      </div>
    </div>
    <div class="pros2"></div>
    <div class="pros" data-aos="fade-right">
      <div class="card">
        <div><img class="card-image" src="../IMG/lluvia-de-ideas.png"></div>
        <div class="heading">CREATIVIDAD</div>
        <div class="category">Transformamos tus ideas en realidades innovadoras.</div>
      </div>
    </div>
  </div>
</div>
  <!------------------------------FIN CARACTERÍSTICAS---------------------------->


  <!---------------------------------EVENTOS---------------------------->


<div class="container3" data-aos="fade-up" data-aos-duration="2000">
  <div class="slide">
    <div class="item" style="background-image: url(https://cdn0.bodas.com.mx/article-real-wedding/155/3_2/1280/jpg/1395171.jpeg);" data-aos="fade-right">
      <div class="content">
        <div class="name">Bodas</div>
        <div class="des">Celebra tu boda de ensueño con nosotros. Ofrecemos servicios personalizados y espacios únicos para que tu día sea inolvidable.</div>
        <button>Ver más</button>
      </div>
    </div>
    <div class="item" style="background-image: url(https://www.toulouselautrec.edu.pe/sites/default/files/imagenes/cursos/toulouse-cursos-org-eventos-desktop-37.jpg);" data-aos="fade-right">
      <div class="content">
        <div class="name">Eventos Corporativos</div>
        <div class="des">Organiza eventos corporativos exitosos con nuestra experiencia y profesionalismo. Desde conferencias hasta cenas de gala.</div>
        <button>Ver más</button>
      </div>
    </div>
    <div class="item" style="background-image: url(https://elolivar.es/olivar-content/uploads/2021/06/salones-para-eventos.png);" data-aos="fade-right">
      <div class="content">
        <div class="name">Fiestas Privadas</div>
        <div class="des">Haz de tu fiesta privada un evento excepcional con nuestra atención al detalle y selección de espacios exclusivos.</div>
        <button>Ver más</button>
      </div>
    </div>
    <div class="item" style="background-image: url(https://s.ineventos.com/ogimg/decoracion-infantil.jpg);" data-aos="fade-right">
      <div class="content">
        <div class="name">Eventos Infantiles</div>
        <div class="des">Organiza fiestas infantiles llenas de diversión y sorpresas. Contamos con decoraciones temáticas y entretenimiento para los más pequeños.</div>
        <button>Ver más</button>
      </div>
    </div>
    <div class="item" style="background-image: url(https://www.hotellosrobles.com/wp-content/uploads/decoracion-de-eventos-especiales-en-managua-1024x576.jpg);" data-aos="fade-right">
      <div class="content">
        <div class="name">Eventos Especiales</div>
        <div class="des">Desde aniversarios hasta ceremonias especiales, hacemos que cada ocasión sea única con nuestras ideas creativas y personalización.</div>
        <button>Ver más</button>
      </div>
    </div>
  </div>
  <div class="buttontarjetas">
    <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
    <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
  </div>
</div>

  <!---------------------------------FIN EVENTOS---------------------------->


  <!---------------------------------BENEFICIOS---------------------------->

  <div class="imag" data-aos="fade-up" data-aos-duration="1500" ><img src="../IMG/Esencia -05.png" width="300px"></div>


  <div class="content_bene">
    <div class="cont_bene">
      <div class="benefit" data-aos="fade-right" data-aos-duration="1500" >
        <img src="../IMG/iconos_bene (2).png" alt="Experiencia sin Estrés">
        <h3>Experiencia sin Estrés</h3>
        <p>Deja que nos encarguemos de todos los detalles para que puedas relajarte y disfrutar de tu evento sin preocupaciones.</p>
      </div>
      <div class="benefit" data-aos="fade-right" data-aos-duration="1500">
        <img src="../IMG/iconos_bene (1).png" alt="Ahorro de Tiempo y Energía">
        <h3>Ahorro de Tiempo y Energía</h3>
        <p>Nos ocupamos de todas las tareas de planificación y coordinación, permitiéndote concentrarte en otras cosas importantes.</p>
      </div>
      <div class="benefit" data-aos="fade-right" data-aos-duration="1500">
        <img src="../IMG/iconos_bene (4).png" alt="Acceso a Proveedores de Calidad">
        <h3>Acceso a Proveedores de Calidad</h3>
        <p>Contamos con una red de proveedores confiables y de alta calidad para asegurar que cada aspecto de tu evento esté en manos expertas.</p>
      </div>
      <div class="benefit" data-aos="fade-right" data-aos-duration="1500">
        <img src="../IMG/iconos_bene (3).png" alt="Satisfacción Garantizada">
        <h3>Satisfacción Garantizada</h3>
        <p>Nos comprometemos a hacer que tu evento sea un éxito rotundo, superando tus expectativas y creando recuerdos inolvidables.</p>
      </div>
    </div>
    <div class="side-image" data-aos="fade-left"data-aos-duration="1500" >
      <img src="../IMG/benef.jpg" alt="Imagen de Evento">
    </div>
  </div>

  <%- include('partials/htmlfooter'); -%> <!-- Enlace plantilla del Footer -->
</body>
  <!--------------------------------- FIN BENEFICIOS ---------------------------->
 
  

  <!--------------------------------- JAVA_SCRIP --------------------------- ---->

  <script src="Bootstrap/js/bootstrap.min.js"></script> <!-- JS boostrap -->

  <script src="/JS/scrip.js"></script><!-- JS del carrusel -->

  <script src="/static/JS/scroll.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script><!-- JS para libreria animaciones AOS -->
  <script>
    AOS.init();
  </script><!-- JS para inicializar libreria animaciones AOS -->

  <!--------------------------------- FIN JAVA_SCRIP ---------------------------->

  </body>
  </html>
</body>
</html>
 c