
/*//////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////   CCS CONTACTANOS   //////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/

body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    color: #150C21;
    
    
}



/**BARRA DE NAVEGACIÓN*/
.navbar-expand-lg{
    margin-right: -100px;
}
.logo{
    background: linear-gradient(75deg, #EFD0D6, #969DCB, #EFD0D6 );
}
img{
    margin: 20px;
}

.navbar-nav .nav-item {
    
    position: relative;
    width: 100px;
    font-weight: 400;
  }

  .navbar-nav .nav-item .nav-link {
    color: rgb(207, 78, 78);
   
    text-decoration: none;
  }

  .navbar-nav .nav-item .nav-link:hover {
    color: #feb47b; /* Cambia el color del texto al hacer hover */
  }

  .navbar-nav .nav-item .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 4px; /* Grosor de la línea */
    bottom: 0;
    left: 0;
    background: linear-gradient(75deg, #EFD0D6, #969DCB  );
    transition: width 0.3s ease-in-out;
    border-radius: 4px; /* Puntas redondas */
  }

  .navbar-nav .nav-item .nav-link:hover::after {
    width: 100%;
  }





/*//////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////   TARJETA UNO   ////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
.tarjeta1 {
    width: 90%; /* Tamaño fijo de la tarjeta */
    height: 200px; /* Tamaño fijo de la tarjeta */
    background-image: url('../IMG/de_uno.png'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir la tarjeta */
    background-position: center; /* Centra la imagen de fondo */
    border-radius: 10px; /* Borde redondeado */
    overflow: hidden; /* Oculta cualquier contenido que se desborde de la tarjeta */
    position: relative; /* Necesario para posicionar el contenido de manera absoluta */
    margin: 0 auto; /*centrado*/
    margin-top: 100px;/* Agrega un margen superior */
     
}

.tarjeta1 a {

   text-decoration: none;
   color: #ffffff;
   
}

.contenido1 {
    position: absolute; /* Posiciona el contenido de manera absoluta dentro de la tarjeta */
    top: 50%; /* Lo coloca en la mitad superior de la tarjeta */
    left: 50%; /* Lo coloca en el centro horizontal de la tarjeta */
    transform: translate(-50%, -50%); /* Lo centra vertical y horizontalmente */
    text-align: center; /* Centra el texto horizontalmente */
    color: white; /* Color del texto */
    text-decoration: none; /* Quita la subrayado predeterminado del enlace */
    font-size: 24px; /* Tamaño del texto */
}
 
.contenido1 h3:hover {
     color: #150C21; /* Color de texto al pasar el mouse */
     cursor: pointer;
}

.oculto { /* Oculta los elementos h4 por defecto */
    display: none;
}


/*//////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////   TARJETA DOS   ////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
.tarjeta2 {
    width: 90%; /* Tamaño fijo de la tarjeta */
    height: 200px; /* Tamaño fijo de la tarjeta */
    background-image: url('../IMG/de_dos.png'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir la tarjeta */
    background-position: center; /* Centra la imagen de fondo */
    border-radius: 10px; /* Borde redondeado */
    overflow: hidden; /* Oculta cualquier contenido que se desborde de la tarjeta */
    position: relative; /* Necesario para posicionar el contenido de manera absoluta */
    margin: 0 auto;
    margin-top: 30px;/* Agrega un margen superior */
}

.contenido2 {
    position: absolute; /* Posiciona el contenido de manera absoluta dentro de la tarjeta */
    top: 50%; /* Lo coloca en la mitad superior de la tarjeta */
    left: 50%; /* Lo coloca en el centro horizontal de la tarjeta */
    transform: translate(-50%, -50%); /* Lo centra vertical y horizontalmente */
    text-align: center; /* Centra el texto horizontalmente */
    color: white; /* Color del texto */
    text-decoration: none; /* Quita la subrayado predeterminado del enlace */
    font-size: 24px; /* Tamaño del texto */
}
 
.contenido2 h3:hover {
     color: #150C21; /* Color de texto al pasar el mouse */
}


/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////   TARJETA INSTAGRAM   /////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
.tarjeta3 {
    width: 90%; 
    height: 200px; 
    background-image: url('../IMG/de_tres.png'); 
    background-size: cover; 
    background-position: center; 
    border-radius: 10px;
    overflow: hidden; 
    position: relative; 
    margin: 0 auto;
    margin-top: 30px;
}

.contenido3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center; 
    color: white; 
    text-decoration: none; 
    font-size: 24px; 
}
 
.contenido3 h3:hover {
     color: #150C21;
}


/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////   TARJETA FACEBOOK   //////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
.tarjeta4 {
    width: 90%; 
    height: 200px; 
    background-image: url('../IMG/de_cuatro.png'); 
    background-size: cover; 
    background-position: center; 
    border-radius: 10px;
    overflow: hidden; 
    position: relative; 
    margin: 0 auto;
    margin-top: 30px;
}

.contenido4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center; 
    color: white; 
    text-decoration: none; 
    font-size: 24px; 
}
 
.contenido4 h3:hover {
     color: #150C21;
}


/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////   TARJETA PINTEREST   /////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
.tarjeta5 {
    width: 90%; 
    height: 200px; 
    background-image: url('../IMG/de_cinco.png'); 
    background-size: cover; 
    background-position: center; 
    border-radius: 10px;
    overflow: hidden; 
    position: relative; 
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.contenido5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center; 
    color: white; 
    text-decoration: none; 
    font-size: 24px; 
}
 
.contenido5 h3:hover {
     color: #150C21;
}



.container2{
	max-width: 1170px;
	margin:auto;

}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #2b0a38;
    padding: 70px 0;
  
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #f8d7ee;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
  background: linear-gradient(75deg, #7a2d9e, #ce939f );
	height: 5px;
	box-sizing: border-box;
	width: 60px;
  border-radius: 10px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
  background: linear-gradient(135deg, #7a2d9e, #ce939f );
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


